<div class="section is-large">
	<div class="container">
		<div class="box">
			<div class="columns">
				<div class="column">
					<div class="field">
						<label class="label" for="initialAmount">Initial amount:</label>
						<div class="control">
							<input type="number" id="initialAmount" class="input" placeholder="$1000" />
						</div>
					</div>
					<div class="field">
						<label class="label" for="finalAmount">How much will you need:</label>
						<div class="control">
							<input type="number" id="finalAmount" class="input" placeholder="$10000" />
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label class="label" for="timeFrame">What is your time frame in years:</label>
						<div class="control">
							<input type="number" id="timeFrame" class="input" placeholder="5" />
						</div>
					</div>
					<div class="field">
						<label class="label" for="riskTolerance">Risk Tolerance:</label>
						<div class="select is-fullwidth">
							<select id="riskTolerance">
								<option value="1">1 - Actively avoid risk</option>
								<option value="2">2 - Conservative against risk</option>
								<option value="3">3 - Preference for safety</option>
								<option value="4" selected>4 - Flexible with risk</option>
								<option value="5">5 - Opening to risk</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
